<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright ©2015 藝文票券折扣網 <br>
    Design by <a href="http://www.ticketof.com.tw" target=_new>藝流通文創行銷有限公司</a>
  </p>
</footer>